<?xml version="1.0" encoding="UTF-8"?>
  <mapping>
  <apigroup name="project">
  <api>
             <!-- Create a project and get project info -->
         <wfapi name="projects" method="Post"/> 
                         <wfapi name="projects/{uuid}" method="Get"/>                    
            <doc>projects_doc.txt</doc>
             <workflow>
                 <code>header.java</code>
                  <code>RestApi.java</code>
                 <code>helperStart.java</code>
                  <code>trackApiStatus.java</code>
               <code>parseResult.java</code>
                 <code>getJSONArrayValue.java</code>
                <code>listLoggedInUsers.java</code>
                  <code>getProjects.java</code>  
                     <code highlight="projects/{uuid}-Get">getProject.java</code>                            
                <code highlight="projects-Post">createProject.java</code>
                <code>getRoles.java</code>
                 <code>helperEnd.java</code>
               <code>ProjectCreate.java</code>
            </workflow>
           <output>ProjectCreate</output>
          </api>
          </apigroup>
         </mapping>   
